.footerclas{
  background-color: #2CBBBB;
  height: 250px;
}

.about{
  background-color: #2CBBBB;
  height: 250px;
  width: 600px;
  margin-left: 250px;
}

.gmbrig{
  width: 30px;
  height: 30px;
  top: 2px;
}

.no{
  float: right;
  margin-right: 427px;
}

.about a{
  color: black;
}

.top-bar{
 background-color:#2CBBBB;
}
